---
import BaseLayouts from "../../layouts/BaseLayouts.astro"
import BlogPost from "../../components/BlogPost.astro"

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));

    // 逐个处理每个 Markdown 文章，并将每个标签数组组合成一个更大的数组。然后，它从找到的所有标签创建一个新的 Set（以忽略重复值）。最后，它将该 Set 转换为一个数组（不重复的），你可以用它来显示页面上的标签列表。
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params
const { posts } = Astro.props

---

<BaseLayouts pageTitle={`标签：${tag}`}>
    <p>这是一个关于标签 <strong>{tag}</strong> 的页面。</p>
    <ul>
        {posts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
    
    <p>总共有 {posts.length} 篇文章使用了这个标签。</p>
</BaseLayouts>